/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');*/
:root {
  --col-bg:        #f0f4ef;             /* white bg */
  --col-text:      #0d1821;             /* default text */
  --col-sel-link:  #227396;             /* selected link/button */
  --font-main: 'Fira Sans', sans-serif;
  --header-height: 100px;
  --footer-height: 35px;
}
a {
  text-decoration: none;
  color: var(--col-text);
}
body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--col-text);
  background-color: var(--col-bg);
}
hr {
  margin: 0;
  margin-left: 40px;
  position: fixed;
  z-index: 101;
  width: 50px;
  align: left;
  color: var(--col-text);
}
.sepb {
  bottom: var(--footer-height);
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  display:flex;
  align-items:center;
  padding-left: 35px;
  background-color: var(--col-bg);
}
.header-content {
  font-size: 35px; 
}
.header-active  {
  color: var(--col-sel-link);
  transition: all 0.08s ease-in-out;
}
.footer {
  position: absolute;
  z-index: 100;
  height: var(--footer-height);
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: var(--col-bg);
  display:flex;
  align-items:center;
  padding-left: 35px;
}
.content {
  margin-left: 40px;
  margin-right: 40px;
}
.main-op {
  transition: opacity 400ms;
}
.main-content {
  display: none;
  position:sticky;
  margin: 20px 0 calc(var(--footer-height) + 20px) 0;
}
.main-content h2 {
  margin: 20px 0 20px 0;
  font-size: 50px;
}
.main-content span {
  margin: 20px 0 0 0;
  margin-right: 4px;
}
.main-content .bh {  
  font-size: 30px;
}
.main-content .sh {  
  font-size: 20px;
  margin-left: 0px;
}
.main-content br {
  margin-bottom: 5px;
}
.main-link {
  color: var(--col-sel-link);
}
.s1 > a {
  margin-left: 2px;
}
.s4 {
  margin: 20px 0 20px 0;
}
.code-item {
  margin-bottom: 7px;
}
.code-item > span, .s2 > span {
  margin-left: 18px;
}
.code-info {
  margin-bottom: 7px;
}
iframe {
  border: none;
  /*overflow: scroll;*/
  height:100%;
  overflow:visible;
  min-height:calc(100vh - var(--header-height) - var(--footer-height) - 40px);
}
.nf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nf-404 {
  font-size: 90px;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.logo {
  width: 20%;
  height: 100%;
}
.logo-text {
  display: flex;
  align-items: center;
  font-size: 100px;
  font-family: 'Fira Sans Extra Condensed', 'sans-serif';
}
#text-icon {
  transform: translate(0px, -8px);
}
#svg-icon, #text-icon {
  fill: var(--col-sel-link);
  color: var(--col-sel-link);
  transition: fill 0.18s ease-in-out, color 0.18s ease-in-out;
}
/*#svg-icon:hover, .logo-text:hover{*/
.logo-anim {
  fill: var(--col-text) !important;
  color: var(--col-text) !important;
  transition: fill 0.18s ease-in-out, color 0.18s ease-in-out;
}
@media screen and (max-width: 1200px) {
  header {
    height: 100px;
  }
  .logo-text {
    font-size: 70px;
    display: none;
  }
  .logo {
    width: 70%;
    height: 70%;
  }
}
@media screen and (min-width: 800px) {
  .resume-fallback {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  iframe {
    display: none;
  }
  .resume-fallback {
    display: visible;
  }
  .logo-text {
    font-size: 40px;
  }
}
